.ItmLstCont {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

.Accordeon {
    display: flex;
    margin-bottom: 25px;
}